
.banner h1 {
  font-size: 55px;
  font-weight: bold;
  color: black;
}

.banner hr {
  border-top: 5px double black;
  width: 50%;
  margin: auto;
  
}
.banner{
  background-color: white;
  opacity: .8;
  width: 75%;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
}
.profile-img{
  border-radius: 50%;
  height: 30%;
  margin-top: 5em;

}
@media screen and (max-width: 940px){
  .tabs {
    display: none;
  }
  .profile-img{
    border-radius: 50%;
    height: 20%;
    margin-top: 5em;
  }
  .banner h1{
    font-size: 30px;
  }
}


.mdl-layout-title{
  font-size:15px !important;
}




.banner p {
  color: black;
  font-size: 20px;
  padding: 1em;

}

.header-navbar{
  background: #59C173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.links{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 50%;
  margin: auto;
}

.links a{
  width: 100%;
  height: 100%;

}
.links-item{
  width: 20%;
}

.front-grid{
  background: #59C173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.webgl_content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

Iframe{
  border: none;
}

a {
  text-decoration-line: none;
  color: black;
}

.Nav_item a {
  color: black;

}

.subNav .subNav_item {
  margin-left: 3em;
  margin-top: 1em;
}






